*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    line-height: 1.3;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    background-color: var(--color-bg);
}
main {
    display: block;
    margin: 0 30px 32px;
}

p {
    margin: 0;
}