h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-black);
}

h1,
h2,
h5,
.h1,
.h2,
.h5,
.h7 {
    font-family: var(--font-family-gotham);
}

h1,
.h1 {
    font-size: var(--font-size-h1);
    text-transform: var(--text-transform);
    font-weight: var(--font-weight-h1);
    color: var(--color-white);
    margin-bottom: 12px;
}

h2,
.h2 {
    font-size: var(--font-size-h2);
    text-transform: var(--text-transform-h2);
    color: inherit;
}

// H3 resize tested in vertical cards
h3,
.h3 {
    font-size: 1.6rem;
    font-weight: var(--font-weight-h3);
}

h4,
.h4 {
    font-size: var(--font-size-h4);
    font-weight: 500;
}

// H5 resize tested in vertical cards
h5,
.h5 {
    font-size: min(max(1rem, 1.5vw), 1.2rem);
    text-transform: var(--text-transform-h5);
    font-weight: var(--font-weight-h5);
}

h6,
.h6 {
    font-size: var(--font-size-h6);
    font-weight: var(--font-weight-h6);
    letter-spacing: 0.05em;
}

p,
.p {
    font-size: var(--font-size-p);
    font-weight: var(--font-weight-p);
}